asgiref
contourpy
cycler
Django
django-cors-headers
fonttools
importlib-resources
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
pyserial
python-dateutil
pytz
scipy
six
sqlparse
typing_extensions
tzdata
zipp
